---
# General project settings.
general:
  # What would you like your project to be called?
  project: serverless-starter

# serverless-starter settings for AWS Lambda.
awslambda:
  # Which region would you like to use by default?
  # (You can override this by defining AWS_REGION in your dotenv.)
  default_region: us-east-2

  # Which runtime would you like to use for your project?
  # Go here to see a full list: https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html
  runtime: provided

  # serverless-starter will host your functions with API Gateway by default.
  # Would you like to enable tracing for the API Gateway frontends?
  enable_api_gateway_tracing: true

  # Would you like to front your function with a custom domain in production?
  # If this is set to true, ensure that you have defined DOMAIN_PATH and DOMAIN_TLD
  # in your dotenv.
  enable_custom_domain: true

